* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-image: url("../bg/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #dbdbdb;
  display: flex;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}



/* Scroll estilizado */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
      background: linear-gradient(0deg, #000000 0%, #161616 100%);
}

::-webkit-scrollbar-thumb {
  background: rgba(74, 144, 226, 0.6); /* azul suave */
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(74, 144, 226, 0.9);
    background-clip: content-box;

}

::selection {
  color: #4A90E2;
  border-radius: 8px;
  text-shadow: 0 2px 8px #4A90E2;
}
