body {
  margin: 0;
  background: var(--bg-primary);
  font-family: 'Inter', Arial, sans-serif;
  background-image: url("../bg/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: none;
  color: #dbdbdb;
  overflow-x: hidden;
  overflow: hidden;
  position: fixed;
  user-select: none !important;
  -webkit-touch-callout: none; /* Disables the callout menu on long press in iOS Safari */
  -webkit-user-select: none; /* Safari, Chrome, Opera */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
}

.dm-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  backdrop-filter: blur(20px);
  border-bottom: 0.1px solid var(--navbar-border) !important;
  padding: 12px 16px;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
}

.dm-back-btn, .dm-new-chat-btn, .dm-chat-options {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.4em;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  transition: background 0.2s;
}

.dm-back-btn svg {
    width: 18px !important;
  height: 18px !important;
  fill: currentColor !important;
}

.dm-back-btn:active, .dm-new-chat-btn:active, .dm-chat-options:active {
  background: #22262e;
}

.dm-title {
  font-size: 1.4em;
  font-weight: 600;
  color: #fff;
}

.dm-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: block;
}

.dm-users-list,
.dm-chat-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 94vh;
  transition: transform 0.35s cubic-bezier(.7,.2,.3,1);
  will-change: transform;
  background: #18181800;
  overflow-x: hidden;
}

.dm-users-list {
  height: 83vh;
}

.dm-container {
  height: 100vh;
}

.dm-users-list {
  z-index: 2;
  transform: translateX(0);
  overflow-y: auto;
  border-bottom: none;
  max-height: 100vh;
  margin-bottom: 200px;
}

.dm-chat-area {
  z-index: 3;
  transform: translateX(100vw);
  display: flex;
  flex-direction: column;
}

.dm-container.show-chat .dm-users-list {
  transform: translateX(-100vw);
}

.dm-container.show-chat .dm-chat-area {
  transform: translateX(0);
}

.dm-user-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 18px;
  background: none;
  border: none;
  width: 100%;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.2s;
  font-size: 22px;
}

.dm-user-btn.active, .dm-user-btn:hover {
  background: #4A90E2;
  color: #fff;
}

.dm-user-btn img {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  object-fit: cover;
}

.dm-chat-header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  background: rgba(0, 0, 0, 0.404) !important;
  backdrop-filter: blur(20px);
  border-bottom: 1px solid #111111 !important;
  position: sticky;
}

.dm-chat-header img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
}

.dm-chat-header span {
  flex: 1;
  font-size: 1.4em;
  color: #fff;
  font-weight: 500;
}

.dm-messages {
  flex: 1;
  padding: 12px 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  transform: translate(0px, 30px);
  margin-top: -3.8vh;
  z-index: 200;
  padding-bottom: 40px;
}

.dm-message {
  max-width: 70%;
  padding: 8px 12px !important;
  border-radius: 18px;
  font-size: 16px !important;
  line-height: 1.5;
  word-break: break-word;
  position: relative;
  margin-bottom: 6px;
  animation: fadeInMsg 0.3s;
}

.dm-message p {
    margin: 0px;
}

.dm-message.sent {
  background: #4A90E2;
  color: #fff;
  align-self: flex-end;
  border-bottom-right-radius: 6px;
}


.dm-message.received {
  background: #1a1a1a;
  color: #cacaca;
  align-self: flex-start;
  border-bottom-left-radius: 6px;
}

.dm-message .dm-time {
  font-size: 11px;
  color: #bbb;
  margin-top: 4px;
  display: block;
  text-align: right;
}

.dm-no-chat {
  color: #888;
  text-align: center;
  margin-top: 40px;
  font-size: 1.1em;
}

.dm-send-area {
  display: flex;
  align-items: center;
  padding: 0px 8px 0px;
  background: transparent;
}

.input-area {
  flex: 1;
  padding: 0px 4px;
  background-color: #333;
  display: flex;
  border-radius: 50px;
  z-index: 300;
}

#dmMsgInput {
  flex: 1;
  padding: 14px 14px;
  border-radius: 28px;
  border:none;
  background: #22262e;
  color: #fff;
  font-size: 1em;
  outline: none;
  margin-right: 8px;
  margin-right: 0px;
  background: transparent;
  display: flex;
  align-items: center;
}

#dmSendBtn {
  background-color: #4A90E2;
  border: 1px solid #4A90E2;
  padding: 0px 20px !important;
  height: 4.8vh;
  margin: 0px;
  align-items: center;
  align-self: center;
  border-radius: 8000px;
  color: #fff;
  transition: background-color 0.3s;
}

#dmSendBtn:active {
    background-color: #007bff;
  border-color: #007bff;
  outline: none;
}

#dmSendBtn svg {
  width: 16px !important;
  height: 16px !important;
  fill: currentColor !important;
}



.msg-area {
  background: rgba(20, 20, 20, 0.6);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: none;
  border-top-left-radius: 16px;
  max-width: 600px; /* ajuste conforme precisar */
  gap: 10px;
  background: transparent; /* Quase preto, mas não absoluto */
  display: flex;
  align-items: center;
  border: none; /* Cinza quase preto pra separar do fundo */
  box-shadow: none !important; /* Sombra interna clara no modo dark */
  padding: 15px 0px;
  padding-right: 200px;
  padding-left: 10px;
  font-size: 16px;
  width: 100vh;
  height: auto;
}

.msg-area:focus-within {
  border: 1px solid #4A90E2;
  border-color: #4A90E2;
  box-shadow: 0 0 10px rgba(74, 144, 226, 0.6);
  outline: none;
}



@keyframes fadeInMsg {
  from { opacity: 0; transform: translateY(20px);}
  to { opacity: 1; transform: translateY(0);}
}

.dm-chat-header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  background: #23272f;
  border-bottom: 1px solid #111111 !important;
}
.dm-chat-header[style*="display:none"] {
  display: none !important;
}
.dm-navbar[style*="display:none"] {
  display: none !important;
}


/* Adicione ao final de direct-mobile.css */
.dm-search-box {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px 12px 18px;
  background: none;
}

#dmSearchInput {
  flex: 1;
  padding: 10px 14px;
  border-radius: 10px; 
  background: #333;
  border: nonebvb ;
  color: #fff;
  font-size: 1em;
  outline: none;
  display: none;
}

#dmSearchBtn {
  background: #4A90E2;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background 0.2s;
  display: none;
}

.dm-user-btn {
  position: relative;
  gap: 2px;
  padding-bottom: 10px;
}

.dm-user-btn span {
  text-align: left;
  margin-left: 10px;

}

.dm-user-name {
  font-size: 1.0em;
  color: #fff;
}
.dm-user-time {
  font-size: 14px;
  color: #bbb;
}


.dm-user-info {
  display: flex;
  flex-direction: column;
}

.dm-message-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  font-size: 12px;
  color: #4A90E2;
  margin-top: 2px;
  margin-bottom: 8px;
  padding-right: 8px;
}

.dm-message-footer .dm-visto {
  color: #4A90E2;
  font-weight: 500;
  margin-left: 4px;
}

.dm-chat-username {
  cursor: pointer;
}




.dm-chat-header a {
  text-decoration: none;
}

.dm-container.show-chat ~ .navbar-bottom {
  display: none !important;
}

.dm-message-footer {
  display: flex;
  align-items: center;
  gap: 0px;
  font-size: 12px;
  color: #bbb;
  padding-top: 4px;
  padding-right: 8px;
  justify-content: flex-end; /* para mensagens enviadas */
}

.dm-message.sent + .dm-message-footer {
  justify-content: flex-end;
}

.dm-message.received + .dm-message-footer {
  justify-content: flex-start;
  color: #bbb;
  margin-left: 6px;
}

.dm-visto {
  color: #4A90E2;
  font-weight: 500;
  margin-left: 4px;
}

    /* Navbar Bottom */
    .navbar-bottom {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      height: 80px;
      background: var(--navbar-bg);
      backdrop-filter: blur(20px);
      border-top: 0.1px solid var(--navbar-border) !important;
      z-index: 9999;
    }

.navbar-bottom-content svg {
  width: 28px;  /* ou o tamanho que você usa nos outros ícones */
  height: 26px;
  fill: #888; /* pega a cor do texto do link */
}

    .active-bar svg{
      fill:  #fff;
    }

    .navbar-bottom-content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      padding-bottom: 20px;
    }

    .navbar-bottom a {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #f8f9f9;
      font-size: 26px;
      padding: 0px;
      transition: all 0.3s ease;
      text-decoration: none;
      margin-bottom: 34px;
    }


    .profile-mini {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      object-fit: cover;
    }


.img-btn  {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  padding: 0 0 0 1.4vh;
  display: none;
}


@supports (backdrop-filter: blur(10px)) {
    .input-area {
        backdrop-filter: blur(12px);
        background-color: #252525a6;
    }
}


.dm-msg-bloco {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    max-width: 85%;
}

.meu-bloco {
    margin-left: auto;
    align-items: flex-end;
}

.deles-bloco {
    margin-right: auto;
    align-items: flex-start;
    position: relative;
}

/* Bolhas */
.dm-msg-bubble {
    padding: 0px 14px;
    border-radius: 2.8vh;
    margin: 2px 0;
    max-width: 100%;
    word-break: break-word;
    padding-top: 0px !important;
    font-size: 17px;
}


.dm-msg-bubble p{
  padding: 0px !important;
  margin: 10px 0px;
}

.meu {
    background: #4A90E2;
    color: white;
    align-self: flex-end;
}


.meu:only-child {
  border-radius: 2.8vh 2.8vh 2.8vh 2.8vh !important;
}

.meu:first-child {
  border-radius: 2.8vh 2.8vh 0.8vh 2.8vh;
}

.meu:last-child {
  border-radius: 2.8vh 0.8vh 2.8vh 2.8vh;
}

.meu:not(:first-child):not(:last-child) {
    border-radius: 2.8vh 0.8vh 0.8vh 2.8vh;
}


.deles {
    background: #1a1a1a;
    color: #f1f1f1;
}


.deles:last-child {
  border-top-left-radius: 0.8vh !important;
}

/* Foto da última mensagem do bloco */
.dm-msg-foto {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-top: 4px;
    margin-left: 4px;
}

/* Footer da última mensagem */
.dm-msg-footer {
    font-size: 11px;
    color: #777;
    margin-top: 4px;
}

.meu-bloco .dm-msg-footer {
    text-align: right;
}

.dm-visto {
    margin-left: 5px;
    color: #4A90E2;
}


/* BLOCO DE MENSAGENS DELES */
.deles-bloco {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 38px;   /* espaço da parede esquerda */
    margin-bottom: 12px;
    position: relative;
}

/* FOTO NA ÚLTIMA MENSAGEM DO BLOCO */
.dm-msg-foto {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: -40px;     /* puxa a foto para fora, colada na lateral */
    bottom: 0px;     /* alinha com a última bolha */
}

/* BOLHAS DAS MENSAGENS RECEBIDAS */
.deles {
    border-radius: 2vh;
    max-width: 75%;
    margin: 2px 0;
}

.deles:only-child {
  border-radius: 2.8vh !important;
}

.deles:first-child:not(:last-child) {
  border-radius: 2.8vh 2.8vh 2.8vh 0.8vh;
}

.deles:last-child:not(:first-child) {
  border-radius: 2.8vh 2.8vh 2.8vh 2.8vh ;
}

.deles:last-child {
  border-radius: 2.8vh 2.8vh 2.8vh 2.8vh ;
}

.deles:not(:first-child):not(:last-child) {
  border-radius: 0.8vh 2.8vh 2.8vh 0.8vh;
}



.title {
  display: none;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: bold;
  justify-content: space-between;
}

.title p {
  margin: 0;
  padding: 0;
}
