.feeds-tab {
    position: fixed;
    height: 160px;
    width: 100%;
    z-index: 99999;
    top: 70px;
    display: flex;
    justify-content: center;
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    max-height 0.4s ease;
}


.feeds {
    background-color: rgba(95, 95, 95, 0.616);
    backdrop-filter: blur(22px);
    border: 1px solid #666666d3;
    width: 260px;
    border-radius: 22px;
    position: relative;
    z-index: 1;
}

.feed-btn {
    background-color: transparent;
    color: #eee;
    font-size: 20px;
    width: 100%;
    padding: 12px;
    border: none;
    text-align: left;
    display: flex;
    border-radius: 22px;
}

.feeds-btns {
    display: flex;
    align-items: center;
    padding: 0 12px;
}

.feed-btn:active {
    background: red !important;
    color: #eee;
    font-size: 20px;
    width: 100%;
    padding: 12px;
    border: none;
    text-align: left;
    display: flex;
    border-radius: 22px;
}

.feed-btn:hover {
    background-color: transparent !important;
    color: #eee;
    font-size: 20px;
    width: 100%;
    padding: 12px;
    border: none;
    text-align: left;
    display: flex;
}

.feeds {
  position: relative;
  z-index: 1;
}

.feeds::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);

  width: 0;
  height: 0;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(82, 82, 82);

  z-index: -1;
}

.feeds::after {
  content: "";
  position: absolute;
  top: -11px;
  left: 50%;
  transform: translateX(-50%);

  width: 0;
  height: 0;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #666666;

  z-index: -2;
}


/* estado oculto */
.hidden {
  opacity: 0;
  transform: translateY(-10px);
  max-height: 0;
  pointer-events: none;
}









.navbar-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  transform: translateY(0);
  transition: transform 0.3s ease; 
}

.navbar-bottom.navbar-hidden {
  transform: translateY(200%); /* empurra a navbar pra baixo, escondendo */
}

.navbar-top {
  position: fixed;
  top: 0;
  width: 100%;
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.navbar-top.navbar-hidden {
  transform: translateY(-100%); /* esconde pra cima */
}