/* Light */
@font-face {
  font-family: 'spacefont';
  src: url('../font/space-grotesk-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: 'spacefont';
  src: url('../font/space-grotesk-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: 'spacefont';
  src: url('../font/space-grotesk-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SemiBold */
@font-face {
  font-family: 'spacefont';
  src: url('../font/space-grotesk-semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'spacefont';
  src: url('../font/space-grotesk-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ExtraBold */
@font-face {
  font-family: 'spacefont';
  src: url('../font/space-grotesk-extrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}