
.tag-area {
  color: white;
font-size: 12px;
padding: 2px 8px;
border-radius: 12px;
text-transform: uppercase;
font-weight: bold;

}

.tag {
color: white;
font-size: 12px;
padding: 2px 8px;
border-radius: 12px;
text-transform: uppercase;
font-weight: bold;
background-color: #161616;
}
